/* FONTS */
// TODO: change by h2Size, h3Size...
$tag: 10px;
$normal: 14px;
$medium: 21px;
$large: 28px;
$veryLarge: 36px;

$roboto: 'Roboto Slab', serif;


/* SPACES */

$lineNormal: 1;
$lineLarge: 1.5;


